li{
    display: inline;
    margin:0 50px
  }
  input{
    float: right
  }
  img{
    display:block;
    margin:0 auto;
  }
  .container{
    margin:0 10%;
  }
  #details{
    text-align:center;
  }
  #info{
    margin-top: 250px;
  }